# PASSWORD DATABASES
{% for passdb in  dovecot_custom.passdb | default([]) %}
passdb {{ passdb.name | default('') }} {
    driver = {{ passdb.driver | mandatory }}
{% if passdb.args | default(False) or  passdb.args_kv | default(False) %}
    args = {% for setting, value in passdb.args_kv  | default({}) | dictlist2items -%} 
        {{ setting }}= {{- value }} {% endfor %}
        {%- for item in (passdb.args| default([]) ) %}{{- item }} {% endfor %}
{%- endif %}
{% if passdb.default_fields | default(False) or passdb.default_fields_kv | default(False) %}
    default_fields = {% for setting, value in passdb.default_fields_kv | default([]) | dictlist2items -%} 
        {{ setting }}= {{- value }} {% endfor %}
        {%- for item in passdb.default_fields | default([]) %}{{- item }} {% endfor %}
{%- endif %}
{% if passdb.override_fields | default(False) or  passdb.override_fields_kv | default(False) %}
    override_fields = {% for setting, value in passdb.override_fields_kv | default([]) | dictlist2items -%} 
        {{- setting }}= {{- value }} {% endfor %}
        {%- for item in passdb.override_fields | default([]) %}{{ item }} {% endfor %}
{%- endif %}
{% for setting in passdb.settings | default([]) | dictlist2items  %}
    {{ setting }} = {{ value }}
{%- endfor %}
}
{% endfor %}